%script{ :type => "text/x-jsrender",:id => "event-tmpl"}
  .meta
    .top
      .date-created
        {{:occurred_at}}
      .clearer
    .user
      %img{ :src => "{{: ~userAvatar(user_id, 48) }}", :alt => "user picture" }
  .text
    {{:body}}
  .clearer
