%script{ :type => "text/x-jsrender", :id => "note-list-tmpl" }
  .tabmenu
    .ico
      %a.btn_addtag
    .clearer

  #newnote
    %form
      .tarea
        %textarea#newnotetext
      .btn
        %input{ :type => "submit", :value => "Save" }

  #notelist