%script{ :type => "text/x-jsrender",:id => "note-tmpl"}
  .note
    .meta
      .date {{:created_at}}
      .tags
        .tag.placeholder-tag
          &nbsp;
    .text
      %p {{:html_text}}
    .clearer
