%script{ :type => "text/x-jsrender", :id => "note-list-tmpl" }
  .tabmenu
    .ico
      %a.btn_addtag
    .clearer

  #newnote
    .left15
      &nbsp;
    .right85
      %form
        .tarea
          %textarea#newnotetext
            Add Note...
        .btn
          %input{ :type => "submit", :value => "Save" }
    .clearer

  #notelist