%script{ :type => "text/x-jsrender",:id => "note-tmpl"}
  .note
    .meta
      .top
        .date-created {{:updated_at}}
        .delnote
          %span.rm-icon
            %a.rm-button{ :href => "javascript:void(0);" }
            .clearer
          .clearer
        .clearer
      .user.clearfix
        .profile-pic
          %img{ :src => "{{: ~userAvatar(user_id, 48) }}", :alt => "{{: ~userName(user_id, fallback_username) }}", :title => "{{: ~userName(user_id, fallback_username) }}" }
        .profile-name
          {{: ~userName(user_id, fallback_username) }}
      .tags
        .tag.placeholder-tag
          &nbsp;
    .text
      %p {{:html_text}}
    .clearer
