%script{ :type => "text/x-jsrender", :id => "note-list-tmpl" }
  .tabmenu
    .ico
      %a.btn_addtag
    .clearer

  #newnote
    .left15
      &nbsp;
    .right85
      .tarea
        %textarea.autoclear#newnotetext
          Add Note...
      %button
        Save
      %a{ :target => "_blank", :rel => "#cheat-overlay", :href => "/markdown-cheatsheet" }
        Markdown cheatsheet

    .clearer

  #notelist
  #notefooter
    %a{ :href => "javascript:void(0)" }
      Load more...