%script{ :type => "text/x-jsrender",:id => "project-user-list-tmpl"}
  %table.projectuser-list
    %tr
      %th Avatar
      %th Name
      %th Alias
      %th Email
      {{if ~curUserIsOwner()}}
      %th Actions
      {{/if}}
  {{if ~curUserIsOwner()}}
  .projectuser-new
    %p
      Add a user by username/alias:
    %input#newprojectuser{ :type => "text", :value => "Add new user..." }
  {{else}}
  .projectuser-leave
    %button
      Leave Project
  {{/if}}