%script{ :type => "text/x-jsrender",:id => "settings-tmpl"}
  .options
    
    .timeline.section
      %h2 Timeline
      .visible-events
        %span.setting-label Events to show
        .row
          :plain
            <input type="checkbox" name="events" value="notes" {{: ~settingArrayContains(settings, 'timeline:events', 'notes') ? 'checked="yes"' : '' }} >
          &nbsp;Notes
        .row
          :plain
            <input type="checkbox" name="events" value="tasks" {{: ~settingArrayContains(settings, 'timeline:events', 'tasks') ? 'checked="yes"' : '' }} >
          &nbsp;Tasks
        .row
          :plain
            <input type="checkbox" name="events" value="wikis" {{: ~settingArrayContains(settings, 'timeline:events', 'wikis') ? 'checked="yes"' : '' }} >
          &nbsp;Wikis

    .section
      %h2 External Resources
      .ext-resources

        
    .tasks.section
      %h2 Tasks
      .sorting
        %span.setting-label Default ordering
        %select
          %option{ :value => "intelligent" } Intelligent
          %option{ :value => "duedate" } Due date
          %option{ :value => "importance" } Importance

    
  .project-knobs.section
    %h2 Project Management
    %div
      %input{ :type => "text", :value => "{{:project.name}}" }
      %button.rename-project
        Rename Project
      %button.delete-project
        Delete Project
