%script{ :type => "text/x-jsrender",:id => "tag-applied-tmpl"}
  .tag{ :style => "border: 2px solid {{:color}};" }
    {{:name}}
    %span.rm-icon
      %a.rm-button{ :href => "javascript:void(0);" }

