%script{ :type => "text/x-jsrender",:id => "task-tmpl"}
  .task{ :class => '{{:"status-"+status}}' }

    .summary
      %a{ :name => "#task{{:id}}" }
      %span.check
        %input{ :type => "checkbox" }
      %span.imp     {{:importance}}
      %span.summary {{:summary}}
      %span.tags
        {{for tags}}
        %span.tag{ :style => "background-color: {{:color}};" }
          {{:name}}          
        {{/for}}
        
      %span.duedate {{:due_date}}
    
    .body
      .info
        .deps
          {{for task_deps}}
          .dep
            %a{ :href => "#task{{:dependency.id}}" }
              {{:dependency.id}}: {{: dependency.summary.trunc(20, true) }}
          {{/for}}
        .blocked
          %span.label
            Blocked:
          %span.value
            {{: (status === "blocked") ? "Yes" : "No"}}

      .text
        {{: (text != null && text != "") ? html_text : "No comments..."}}

