%script{ :type => "text/x-jsrender", :id => "task-list-tmpl" }
  .tabmenu
    .ico
      %a.btn_addtag
    .ico
      %a.fb_dropdown#task_sorter(data-items = '[{"label": "IntelliSort"}, {"label": "due date"}, {"label": "priority"}]' )
    .ico
      %a.btn_showcompleted
    .clearer

  #newtask
    %input#newtasksummary{ :type => "text" , :value => "Add Task..." }

  #tasklist