%script{ :type => "text/x-jsrender",:id => "task-tmpl"}
  .task{ :class => '{{:"status-"+status}}' }

    .summary
      %a{ :name => "task{{:id}}" }
        %span.check
          :plain
            <input type="checkbox" {{: completed ? "checked" : "" }}/>
          -#%input{ :type => "checkbox", :checked => "{{: (completed) ? 'checked' : ''}}" } 
      %span.imp{ :class => '{{:"importance-"+importance}}' }
        &nbsp;&nbsp;
      %span.summary {{:summary}}
      .tags
        .tag.placeholder-tag
          &nbsp;
      .deltask
        %span.rm-icon
          %a.rm-button{ :href => "javascript:void(0);" }
          .clearer
        .clearer
      %span.duedate{ :class => '{{:due_date_class}}' }
        {{if due_date != nil}}{{:due_date}}{{else}}no due date{{/if}}
      .clearer

    .body{ :class => '{{:(expanded)?"":"contracted"}}' }
      .info
        .deps
          .dep-top-line
            .label.fl
              Dependencies:
            .icon-adddep
              %a.adddep-button
              .clearer
            .clearer
        .blocked
          %span.label
            Blocked:&nbsp;
          %span.value
            {{: (status === "blocked") ? "Yes" : "No"}}
        .clearer

      .text
        {{: (text != null && text != "") ? html_text : "No comments..."}}

