%script{ :type => "text/x-jsrender", :id => "task-list-tmpl" }
  .tabmenu
    .ico
      %a.btn_addtag{ :title => "Toggle tagging mode" }
    .ico.dropdown
      %a.btn_sort{ :href => "javascript:void(0);", :title => "Choose sorting order" }
      %ul.sorter
        %li.sort-intellisort
          %a
            IntelliSort
        %li.sort-duedate
          %a
            Due date
        %li.sort-importance
          %a
            Importance
    .ico
      %a.btn_showcompleted{ :class => "{{:(showCompleted)?'btn-selected':''}}", :title => "Show completed tasks" }
    .clearer

  #newtask
    %input#newtasksummary.autoclear{ :type => "text" , :value => "Add Task..." }

  .ruler 
  #tasklist