%script{ :type => "text/x-jsrender",:id => "user-settings-tmpl"}
  .options
    .section
      %h2 Personal settings
      %div
        :plain
          <input type="text" value="{{> email}}">
        %button.change-mail
          Change email
          


            
    .modal#delete-project-modal
      %h2
        Danger!
      %p
        Are you sure you want to delete this project?&nbsp;
        %strong
          All project related information will be deleted.
      %p.buttons
        %button.close.delete-project
          Yes
        %button.close
          No
