%script{ :type => "text/x-jsrender",:id => "user-settings-tmpl"}
  .options
    .section.openid-registration
      %h2 Personal settings
      %fieldset
        %legend Basic Information
        .row
          %label{ :for => 'name' }
            Name
          %input{ :type => 'text', :id => 'name', :name => 'name', :value => '{{: name}}' }

        .row
          %label{ :for => 'alias' }
            Alias/Nick
          %input{ :type => 'text', :id => 'alias', :name => 'alias', :value => '{{: alias}}' }

        .row
          %label{ :for => 'email' }
            Email
          %input{ :type => 'text', :id => 'email', :name => 'email', :value => '{{: email}}' }

      %fieldset
        %legend Password
        %p.info-text
          {{if openid_only}}
          If you want to be able to log in to Don't Lose Track directly
          %strong &nbsp;without&nbsp;
          your OpenID, choose a password.
          {{else}}
          Change your password by choosing a new one.
          {{/if}}
        .row
          %label{ :for => 'password' }
            Password
          %input{ :type => 'password', :id => 'password', :name => 'password' }
        .row
          %label{ :for => 'password-confirmation' }
            Password (again)
          %input{ :type => 'password', :id => 'password-confirmation', :name => 'password_confirmation' }
          
      .row
        %input{ :type => 'submit', :value => 'Save changes' }



    
    .modal#delete-project-modal
      %h2
        Danger!
      %p
        Are you sure you want to delete this project?&nbsp;
        %strong
          All project related information will be deleted.
      %p.buttons
        %button.close.delete-project
          Yes
        %button.close
          No
