%script{ :type => "text/x-jsrender", :id => "wiki-list-tmpl" }
  .tabmenu
    .ico
      %a.btn_addtag{ :title => "Toggle tagging mode" }
    .clearer

  #newwiki
    %input#newwikititle{ :type => "text" , :value => "Add Wiki..." }

  #wikilist