%script{ :type => "text/x-jsrender",:id => "wiki-tmpl"}
  .wiki-main
    .summary
      .title
        %h1.wiki-title
          {{:title}}
      %ul.buttons
        %li
          %a.edit-page{ :href => "#/project/{{:project_id}}/wikis/{{:id}}/edit" }
            %span
              Edit Page
        %li
          %a.view-history{ :href => "#/project/{{:project_id}}/wikis/{{:id}}/history" }
            %span
              View History
      .clearer
  .wiki-content
    {{:html_text}}