!!!

%html
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %title
      Don’t Lose Track! - Login

    %link{ :rel => "icon", :type => "image/png", :href => "/favicon.png" }

    -#%link{ :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Nunito", :rel => "stylesheet" }

    %link{ :type => "text/css", :href => "/openid/css/openid.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/dateinput.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/colorpicker.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/style.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/pyg_github.css", :rel => "stylesheet" }
    %script{ :src => "/js/contrib/jquery-1.7.2.js" }
    %script{ :src => "/openid/js/openid-jquery.js" }
    %script{ :src => "/openid/js/openid-en.js" }    
    :javascript
      $(document).ready(function() {
        openid.init('openid_identifier');
        $('.no-account a').on("click", function(ev) {
          $('#register-form').toggleClass('hide');
        });
      });

  %body
    #header.topbar.clearfix
      #logo
        .logo
          %h3.logo
            %a{ :href => "/" }
              Don't Lose Track!


    .container_16.clearfix#content
      - if defined? errors and errors != nil
        .errors
          - errors.each do |error|
            .error
              .p= error
      .panes
        #main-pane
          %fieldset.sign-in.clearfix
            %legend Login to Don't Lose Track!
            -#.login-logo
            -#  %h2 Login to Don't Lose Track
            .openid-login
              %form{ :action => '/login/openid', :method => 'post', :id => 'openid_form' }
                %input{ :type => 'hidden', :name => 'action', :value => 'verify' }
                %fieldset
                  %legend Login using OpenID
                  #openid_choice
                    %p Please click your account provider:
                    #openid_btns
                  #openid_input_area
                    %input{ :id => 'openid_identifier', :name => 'openid_identifier', :type => "text", :value => "http://" }
                    %input{ :id => 'openid_submit', :type => 'submit', :value => 'Login' }

            .intermediate
              %p or
              
            .login
              %form{ :method => 'post', :action => '/login' }
                %fieldset
                  %legend Login directly
                  .row
                    %label{ :for => 'username' }
                      Email
                    %input{ :type => "text", :id => 'username', :name => 'username' }
                  .row
                    %label{ :for => 'password' }
                      Password
                    %input{ :type => 'password', :id => 'password', :name => 'password' }
                  .row
                    %input{ :type => 'submit', :value => 'Login' }
                  .row
                    %p.no-account
                      Don't have an account yet?
                      %a{ :href => "javascript:void(0)" }
                        Click here

              %form#register-form{ :class => (defined? errors and not errors.nil?) ? "" : "hide", :method => 'post', :action => '/register' }
              
                %fieldset
                  %legend Sign up
                  .row
                    %label{ :for => 'name' }
                      Name
                    %input{ :type => 'text', :id => 'name', :name => 'name', :value => params[:name] }

                  .row
                    %label{ :for => 'alias' }
                      Alias/Nick
                    %input{ :type => 'text', :id => 'alias', :name => 'alias', :value => params[:alias] }

                  .row
                    %label{ :for => 'email' }
                      Email
                    %input{ :type => 'text', :id => 'email', :name => 'email', :value => params[:email] }

                  .row
                    %label{ :for => 'password' }
                      Password
                    %input{ :type => 'password', :id => 'password', :name => 'password' }

                  .row
                    %label{ :for => 'password-confirmation' }
                      Password (again)
                    %input{ :type => 'password', :id => 'password-confirmation', :name => 'password_confirmation' }
                  .row
                    %input{ :type => 'submit', :value => 'Register' }
          .clearer
      


    .overlay#cheat-overlay
      .content-wrap
    #mask

    .container_16.spacer.clearfix

    #footer
      .grid_16
        &copy 2012 Alex Hornung, Gema Gomez
        •
        Don't Lose Track!
        %a{ :href => "https://github.com/bwalex/DontLoseTrack" }
          = $version

    #tagdrag
