!!!

%html
  %head
    -#%link{ :type => "text/css", :href => "/css/smoothness/jquery-ui-1.8.18.custom.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/fluid_grid.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/dateinput.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/colorpicker.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/style.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/pyg_github.css", :rel => "stylesheet" }
    %script{ :src => "/js/require.js" }
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    -#%script{ :src => "http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js" }
    %script{ :src => "/js/jsrender.js" }
    %script{ :src => "/js/jquery.observable.myraw.js" }
    %script{ :src => "/js/jquery.colorpicker.js" }    
    %script{ :src => "/js/jquery.views.myraw.js" }
    %script{ :src => "/js/underscore.js" }
    %script{ :src => "/js/backbone.js" }
    %script{ :src => "/js/backbone-relational.js" }
    %script{ :src => "/js/require.config.js" }
    :javascript
      require(["/js/require.text.js"]);
      require(["/js/require.order.js"]);
      require(['main']);

  %body
    .container_16
      .grid_16#logo
        %h1.logo Don’t Lose Track!

    .container_16#header
      .container_16#navbar.clearfix
        .grid_16
          %ul.menu.tabs
            %li
              %a{ :title => 'timeline', :href => "#timeline" } Timeline
            %li
              %a{ :title => 'notes', :href => "#notes" } Notes
            %li
              %a{ :title => 'tasks', :href => "#tasks" } Tasks
            %li
              %a{ :title => 'wikis', :href => "#wikis" } Wikis
            %li
              %a{ :title => 'emails', :href => "#emails" } Emails
            %li
              %a{ :title => 'settings', :href => "#settings" } Settings
          %input#projectSelector{ :type => "text", :value => "Switch Project..." }

    .container_16.spacer.clearfix

    .container_16.clearfix#content
      .grid_12
        .panes
          #main-pane
          -# timeline
          -# notes
          -# tasks
          -# wikis
          -# emails

      .grid_4.clearfix
        #sidebar

    .container_16.spacer.clearfix

    .container_16.clearfix#footer
      .grid_16
        Copyright (C) 2012, Alex Hornung

    #tagdrag.hide
      .tags
      -#%span.rm-icon-2
        %a.rm-button-2{ :href => "javascript:void(0);" }
        .clearer
      .clearer


    .fb_menu#fb_menu{ :style => "display:none;" }
