!!!

%html
  %head
    -#%link{ :type => "text/css", :href => "/css/smoothness/jquery-ui-1.8.18.custom.css", :rel => "stylesheet" }
    -#%link{ :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Nunito", :rel => "stylesheet" }

    %link{ :type => "text/css", :href => "/css/fluid_grid.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/dateinput.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/colorpicker.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/style.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/pyg_github.css", :rel => "stylesheet" }
    %script{ :src => "/js/require.js" }
    -#%script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :src => '/js/jquery-1.7.2.js' }
    -#%script{ :src => "http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js" }
    %script{ :src => "/js/jsrender.js" }
    %script{ :src => "/js/jquery.observable.myraw.js" }
    %script{ :src => "/js/jquery.colorpicker.js" }    
    %script{ :src => "/js/jquery.views.myraw.js" }
    %script{ :src => "/js/underscore.js" }
    %script{ :src => "/js/backbone.js" }
    %script{ :src => "/js/backbone-relational.js" }
    %script{ :src => "/js/require.config.js" }
    :javascript
      require(["/js/require.text.js"]);
      require(["/js/require.order.js"]);
      require(['main']);

  %body
    .container_16
      .grid_16#logo
        .project-name
        .logo
          %h3.logo
            %a{ :href => "/" }
              Don't Lose Track!
        .clearer

    .container_16#header
      .container_16#navbar.clearfix
        .grid_16

    .container_16.spacer.clearfix

    .container_16.clearfix#content
      .grid_12
        .panes
          #main-pane
          -# timeline
          -# notes
          -# tasks
          -# wikis
          -# emails
          &nbsp;


      .grid_4.clearfix
        #sidebar

    .container_16.spacer.clearfix

    .container_16.clearfix#footer
      .grid_16
        Copyright (C) 2012, Alex Hornung, Gema Gomez

    #tagdrag