!!!

%html
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %title
      Don’t Lose Track!

    %link{ :rel => "icon", :type => "image/png", :href => "/favicon.png" }
    -#%link{ :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Nunito", :rel => "stylesheet" }

    %link{ :type => "text/css", :href => "/css/fluid_grid.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/dateinput.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/colorpicker.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/style.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/css/pyg_github.css", :rel => "stylesheet" }
    %link{ :media => "print", :type => "text/css", :href => "/css/print.css", :rel => "stylesheet" }
    %script{ :src => "/js/contrib/require.js" }
    %script{ :src => "/js/app/require.config.js" }
    :javascript
      require(['app']);

  %body
    .container_16
      .grid_16#logo
        .project-name
        .logo
          %h3.logo
            %a{ :href => "/" }
              Don't Lose Track!
        .clearer

    .container_16#header
      .container_16#navbar.clearfix
        .grid_16

    .container_16.spacer.clearfix

    .container_16.clearfix#content
      .grid_12
        .errors.hide
        .panes
          #main-pane
          -# timeline
          -# notes
          -# tasks
          -# wikis
          -# emails
          &nbsp;


      .grid_4.clearfix
        #sidebar

    #ajax-load-overlay
      %img{ :src => "/img/ajax_load.gif", :alt => "Loading..." }

    
    .overlay#cheat-overlay
      .content-wrap
    #mask

    .container_16.spacer.clearfix

    .container_16.clearfix#footer
      .grid_16
        &copy 2012 Alex Hornung, Gema Gomez
        •
        Don't Lose Track!
        %a{ :href => "https://github.com/bwalex/DontLoseTrack" }
          = $version

    #tagdrag
