$light_grey: #999999;
$dark_grey:  #2E2633;
$redish:     #99173C;
$greyish:    #555555;
$orangeish:  #CC3300;
$blackish:   #151515;
$blueish:    #0055AA;
$dark_blue:  #002B55;
$light_red:  #EE8CA7;
$yellowish:  #FFFFD5;

$link_color:  $redish;//$blueish;
$link_hover_color:  black;//$dark_blue;
$h2_color:  $dark_blue;

body {
    font-family: Helvetica,Verdana,Arial,Clean,sans-serif;
    font-size: 100%;
    text-align: center;
    line-height: 24px;
}

hr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 1px;
    margin: 0 0 0px;
    width: 100%;
}

div#header {
    border-bottom: 1px dotted #999999;
}

.logo h3 {
    //font: bold 1em helvetica,arial,verdana,sans-serif;
    font-weight: bold;
    //font-family: 'Ubuntu', sans-serif;
    font-family: helvetica,arial,verdana,sans-serif;
    color: $dark_grey;
    margin: 0px;
    //padding-top: 24px;
    //padding-bottom: 24px;
    padding-top: 3px;
    letter-spacing: -1px;
    text-align: right;
    font-size: 1.2em;
    line-height: 1;
    a {
	color: black;
	&:hover {
	    color: $redish;
	}
    }
}

div#logo {
    margin-right: 0px;
}

.project-name h2 {
    //font: bold 1em helvetica,arial,verdana,sans-serif;
    font-family: helvetica,arial,verdana,sans-serif;
    font-weight: bold;
    color: $redish;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
}

div.project-name {
    display: inline;
    float: left;
}

div.logo {
    display: inline;
    float: right;
}



div#content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
    padding: 0px 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: left;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px dotted $light_grey;
    margin-left: auto;
    margin-right: auto;

    min-height: 1px;
    padding: 10px 20px 20px;
    position: relative;
    text-align: right;
    font-size: 75%;
}


#navbar {
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 0 -20px;
    padding: 0 20px;
    width: 100%;

    .grid_16 {
	width: 100%;
    }

    div {
        margin: 0;
    }

    ul {
	vertical-align: bottom;
        float: left;
	margin: 0;
	padding-left: 0px;
	li {
            float: left;
	    list-style: none outside none;
	    margin: 0 0;
        }
    }

    .menu a {
	color: black;
	display: block;
	font-size: 90%;
	font-weight: bold;
	padding: 15px 15px 0px;
	text-decoration: none;

        &.current, &:hover {
            color: #99173C;    
	}
    }

    div#nav-left {
	position: absolute;
	bottom: 0%;
	left: 0%;
    }
    
    div#nav-right {
	text-align: left;
	display: inline;
	position: relative;
	float: right;
    }

    div#projsel {
	position: relative;
	//position: absolute;
	//right: 0%;
	//top: 0%;
    }

    input#projectSelector {
	float: right;
    }

    div#nav-user {
	font-weight: bold;
	font-size: 90%;
	a {
	    color: black;
	    margin-left: 8px;
	    &:hover {
		color: $redish;
	    }
	}
    }
}



div#bio {
    display: inline-block;
    width: 100%;
}

#bio img {
    float: left;
    margin-right: 10px;
}

#bio p {
    margin-top: 0px;
    font-size: 80%;
}

#bio p a {
    border-bottom: none;
    display: inline;
    padding: 0px;
}

#posts ul li {
    list-style: none outside none;
}

#social-nav {
    padding: 12px;
    float: right;
}

@mixin social-icon($icon) {
    background: url($icon) no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-top: 5px;
    width: 30px;
    float: right;
    font-weight: bold;
    text-align: right;
    z-index: 4;
}

#rss-feed {
    @include social-icon("/icons/rss.png");
}

div.post-body {
    font-family: 'Nunito',sans-serif;
}

div.spacer {
    margin-top: 20px;
}

p.post-info {
    font-size: 90%;
    margin: 0 0 0 5px;
    overflow: hidden;
    padding: 8px 5px;
}

p.post-info {
    padding-left: 0px;
    margin-left: 0px;
    
}

div.post-body {
    display: block;
    padding: 10px 10px 10px 5px;
}

#main h2 {
    margin-bottom: 0px;
}

span.post-date {
    background: none repeat scroll 0 0 #99173C;
    color: white;
    float: left;
    padding: 3px 7px;
}


div#sidebar {
    padding-top: 10px;
    width: 100%;
    line-height: 21px;
}

#sidebar a {
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    padding: 4px 6px;
    text-decoration: none;
}

#sidebar h3 {
    border-bottom: 1px solid #666666;
    margin-bottom: 5px;
}

#sidebar a.indented {
    color: #555555;
    font-size: 11px;
    padding-left: 15px;
}

#sidebar a:hover {
    color: #CC3300;
}

div#main {
    padding-right: 30px;
    padding-top: 10px;
}

table {
    border-collapse: collapse;
    margin: 0.5em 0 0.5em 0;
}

th, td {
    border: 1pt solid #ADB9CC;
    padding: 0.25em 0.5em;
}

th, td.theader {
    background-color: #F8F8F8;
    font-weight: bold;
    padding: 5pt;
    vertical-align: middle;
}

a:link, a:visited {
    -moz-transition: all 0.5s ease 0s;
}

a:hover {
    color: $link_hover_color;
}

a {
    color: $link_color;
    text-decoration: none;
}

h2 {
    color: $h2_color;
    margin-top: 10px;
    font-weight: 300;
    padding-top: 10px;
}

pre, code, .code {
    font-family: 'andale mono','bitstream vera sans mono','lucida console','courier new',monospace;
    font-size: 12px;
    line-height: 16px;
}


.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.clearfix {
    display: inline-block;
}

input {
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    border: 1px solid $light_grey;
    border-radius: 2px;
    font-family: Helvetica,Verdana,Arial,Clean,sans-serif;
    font-size: 100%;
    color: $light_grey;
}

input:focus {
    color: #000000;
}

input:hover {
    background-color: #FFFFD5;
}


input[type="submit"] {
    background-color: $light_grey;
    color: white;
    border-radius: 5px;
    font-size: 80%;
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover {
	cursor: pointer;
	background-color: $redish;
    }
}

.editsection {
    float: right;
    font-weight: normal;
    margin-left: 5px;
    border-bottom: none;
}

a.boring {
    /*border: medium none;*/
    color: #000000;
    outline: medium none;
    text-decoration: none;
    border-bottom: medium none;
}

img.boring {
    border: medium none;
    outline: medium none;
}



/* .task .summary */ .tags {
    position: relative;
    display: inline;
}

.tagAppliedView {
    display: inline;
}

/* .task .summary */ .tags .tag,
.tags .tag-edit {
    padding-left: 5px;
    margin-left: 10px;
    //margin-right: 5px;
    //margin-top: 5px;
    //margin-bottom: 2px;
    font-size: 11px;
    font-family:	"lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: 400;
    border-radius: 5px;
    line-height: 1.3em;
    display: inline-block;
    vertical-align: middle;

    //float: left;
    //border: 1px solid darkgrey;
}

#tagfilterlist .tags .tag,
#tagfilterlist .tags .tag-edit {
    width: 100%;
    margin-top: 2px;
    min-height: 1.5em;
}


#tagfilterlist .tags .tag-edit {
    padding: 4px;
}

.task .body {
}

.hide {
    display: none !important;
}


.contracted {
    display: none;
}

.tag p {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}

.rm-icon,
.edit-icon{
    float: right;
    height: 15px;
    width: 15px;
}

.rm-icon .rm-button {
    float: right;
    background-image: url("/img/close_button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    opacity: 0;
}

.edit-icon .edit-button {
    float: right;
    background-image: url("/img/edit_button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    opacity: 0;
}

/*.tag*/ .rm-icon-2 {
    float: right;
    top: 50%;
    margin-top: -7px;
    height: 15px;
    width: 15px;
}

/*.tag*/ .rm-icon-2 .rm-button-2 {
    float: right;
    display: inline;
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -7px;
    background-image: url("/img/close_button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    opacity: 0;
}

#sidebar .rm-button {
    border: none;
    padding: 0px;
}

.delwiki,
.delproject,
.deltask,
.delnote {
    float: right;
    display: inline;
    margin-left: 5px;
    margin-right: 10px;
}


.delwiki .edit-icon,
.delwiki .rm-icon,
.delproject .rm-icon,
.delnote .rm-icon,
.deltask .rm-icon {
    top: 0.3em;
    position: relative;
}

.tag:hover .edit-icon .edit-button,
.wiki:hover .delwiki .rm-icon .rm-button,
.projectList tr:hover .rm-icon .rm-button,
.meta:hover .top .rm-icon .rm-button,
.tag:hover .rm-icon .rm-button,
.wiki:hover .delwiki .edit-icon .edit-button,
.task:hover .deltask .rm-icon .rm-button {
    opacity: 1;
}

.dep:hover .rm-icon-2 .rm-button-2 {
    opacity: 1;
}


.dep:hover {
    background-color: #FFFFD5;
}

.dep {
    padding-right: 4px;
    position: relative;
}

$task_summary_height: 28px;

.task .check {
    display: inline-block;
}

.task .summary .imp {
    //width: 10px;
    //height: 1em;
    min-height: $task_summary_height;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

}

.task .summary .importance-medium {
    background-color: #0060BF;
}

.task .summary .importance-high {
    background-color: $orangeish;
    //background-color: $redish;
}

.task .summary .importance-low {
    background-color: #359AFF;
}

.task {
    //background-color: #FCFCFC;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    //padding-bottom: 2px;
    //padding-top: 2px;
    margin-top: -1px;
    min-height: $task_summary_height;
    border: 1px solid #AAAAAA;
}

.task .summary:hover {
    background-color: #FFFFD5;
}

.status-blocked .summary .summary {
    font-style: italic;
    color: $light_grey;
}

.status-completed .summary .summary {
    text-decoration: line-through;
}

.status-depends .summary .summary {
    font-style: italic;
    color: $light_grey;
}

.task .body {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;

    .text {
	font-family: 'Nunito',sans-serif;
	font-size: 90%;
    }
}

.task .body .info {
    font-size: 90%;
    padding-bottom: 16px;
}


.task .duedate {
    font-size: 80%;
    //font-style: italic;
    color: $light_grey;
    display: inline;
    float: right;
}

.task .duedate-edit {
    display: inline;
    float: right;
}


.task .duedate-past {
    font-weight: bold;
    color: $redish;
}

.task .duedate-today {
    font-weight: bold;
    color: black;
}

.task .duedate-tomorrow {
    font-weight: bold;
}

.task a {
    font-style: italic; 
}


.task .body .info .deps {
    padding-left: 5px;
    float: left;
    width: 40%;
    display: block-inline;

    border: 2px solid $light_grey;
    border-radius: 5px;
}

.task .body .info .blocked {
    margin-left: 20px;
    padding-left: 5px;
    float: left;
    width: 30%;

    border: 2px solid $light_grey;
    border-radius: 5px;
}

.dep-top-line {
    margin-top: 3px;
    margin-right: 3px;
}

.taskdep .status-completed a {
    text-decoration: line-through;
}

.taskdep .status-blocked a {
    color: $redish;
}

.taskdep .status-depends a {
    color: $redish;
}

.fl {
    float: left;
    display: inline;
}

.icon-adddep {
    float: right;
    display: inline;
}

.adddep-button {
    width: 40px;
    height: 22px;
    text-decoration: none;
    float: left;
    display: block;
    background: url('/img/anchor_adddep.png') 0 -22px;

    &:hover {
	text-decoration: none;
    }
}

.dep .dep-sum {
    float: left;
    display: block-inline;
}


.label {
    font-weight: bold;
}


#tagfilterlist .tags .tag {
    display: block;
}


.clearer{
    clear:both;
}

.tabmenu {
    //float: right;
}

.ico {
    display: inline-block;
    float: right;
}

.btn_sort {
    width:40px;
    height:22px;
    text-decoration:none;
    float:left;
    display:block;
    background: url('/img/anchor_sort.png') 0 -22px;
}

.btn_addtag {
    width: 40px;
    height: 22px;
    text-decoration: none;
    float: left;
    display: block;
    background: url('/img/anchor_addtag.png') 0 -22px;
}

.btn_addtag:hover {
    //background-position: 0 0;
}

.btn_showcompleted {
    width: 40px;
    height: 22px;
    text-decoration: none;
    float: left;
    display: block;
    background: url('/img/anchor_viewcompleted.png') 0 -22px;
}


.btn-selected {
    background-position: 0 0;
}

.dropdown ul {
    background: #e6e6e6; /* for non-css3 browsers */

    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 22px;
    right: 0px;

    border: 1px solid $dark_grey;
}

/* dropdown */
.dropdown:hover > ul {
    display: block;
}
.dropdown ul li {
    list-style: none;
    float: none;
    margin: 0;
    padding: 0;
    &:hover {
	background-color: $yellowish;
	cursor: pointer;
    }
}

.dropdown ul a {
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
    color: black;
    padding-left: 5px;
    font-size: 90%;
}

/* clearfix */
.dropdown:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.dropdown {
    display: inline-block;
    position: relative;
}


.boss {
    font-size: 90%;
    font-style: italic;
}


.projectuser-list {
    th, td {
	border-left: none;
	border-right: none;
    }
}

.projectuser-new {
    button {
	margin-left: 10px;
    }
}


.actions {
    button {
	margin-right: 10px;
    }
}


.buttons {
    button {
	margin-left: 20px;
    }
}

.bold {
    font-weight: bold;
}



#newtask {
    margin-bottom: 20px;
}

#newtasksummary {
    width: 50%;
}



#tagdrag .tagdrag-container {
    width: 100%;
    border-top: 1px dotted $dark_grey;
    padding-bottom: 4px;
    background-color: #FFFFD5;
    position: fixed;
    bottom: 0;
    .tags {
	width: 100%;
	.tag {
	    cursor: move;
	    padding-right: 5px;
	}
    }
    .tagDragView {
	display: inline;
    }
    .rm-icon-2 .rm-button-2 {
	right: 8px;
    }
}

.placeholder-tag {
    border: 2px dashed $light_grey;
    padding-right: 5px;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.placeholder-tag-highlight {
    background-color: lighten($blueish, 50%);
}


.ui-menu {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
    background-color: white;
    text-align: left;
    .ui-menu-item {
	clear: left;
	float: left;
	margin: 0;
	padding-left: 4px;
	width: 100%;
	background-color: white;
    }
    
}

.ui-widget-content {
    border: 1px solid $light_grey;
}

.ui-autocomplete {
    cursor: default;
    position: absolute;
}

.ui-state-hover {
    background-color: #FFFFD5;
}

.colorSelector {
    height: 36px;
    width: 36px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    div {
	height: 36px;
	width: 36px;
	display: block;
	background: url("/img/colorpicker/select.png") repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
    }
}

.magic-tag-text input {
    margin-left: 8px;
    width: 60%;
}


.note {
    padding-bottom: 20px;
    border-bottom: 1px dotted $light_grey;
    margin-top: 20px;

    .meta {
	width: 15%;
	display: inline;
	float: left;

	.date-created {
	    float: left;
	    display: inline;
	    border: none;
	    box-shadow: none;
	    font-size: normal;
	    //font-weight: bold;
	    padding: 0;
	    text-align: left;
	    //width: 100%;
	    color: darken($light_grey, 20%);
	    font-size: 90%;
	}
    }

    .text {
	width: 85%;
	display: inline;
	float: right;
	font-family: 'Nunito',sans-serif;
	font-size: 90%;

	p {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
    }
}

textarea {
    min-height: 5em;
    width: 100%;
    color: $light_grey;

    font-family: 'Nunito',sans-serif;
    font-size: 90%;

    &:focus {
	color: black;
    }
}

.left15 {
    width: 15%;
    display: inline;
    float: left;
}

.right85 {
    width: 85%;
    display: inline;
    float: right;
}

#newnote {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted $light_grey;

    button {
	margin-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
    }
}


.projectList th.name {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    width: 50%;
    text-align: left;
}

.projectList th.top {
    border-bottom: none;
}

.projectList tr.top th {
    border: 1px solid white;
}

.projectList th {
    text-align: center;
}

.projectList td {
    text-align: right;
}

.projectList td.name {
    text-align: left;
}

.projectList {
    width: 100%;
}

.projectList th,
.projectList td {
    border-color: $redish;
}

.projectList th.visible {
    background-color: $redish;
    color: white;
    border: 1px solid white;
}

.projectList tr.odd td {
    border: none;
}

.projectList a {
    color: $redish;

    &:hover {
	color: black;
    }
}

.projectList td.name a {
    font-weight: bold;
}

.projectList tr.even {
    background-color: lighten($redish, 60%);
    td {
	border-color: white;
    }
}

input#newprojectname {
    width: 80%;
}



#newwiki {
    margin-bottom: 20px;
}

input#newwikititle {
    width: 50%;
}

.wiki .update_date {
    font-size: 80%;
    //font-style: italic;
    color: $light_grey;
    display: inline;
    float: right;
}

.wiki .summary {
    &:hover {
	background-color: $yellowish;
    }

    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted $light_grey;

    .title a {
	color: black;
	&:hover {
	    color: $redish;
	}
    }
}


.wiki-main .summary {
    .revid {
	color: darken($light_grey, 20%);
	font-size: 80%;
    }

    .title {
	float: left;
    }
    border-bottom: 1px dotted $light_grey;

    ul.buttons {
	float: right;
    }
}

ul.buttons {
    display: block;
    //float: right;
    list-style-type: none;
    overflow: hidden;
    padding: 0;

    li {
	float: left;
	margin-left: 10px;

	a {
	    background-color: #999999;
	    border-radius: 5px 5px 5px 5px;
	    color: white;
	    font-size: 80%;
	    padding-bottom: 4px;
	    padding-top: 4px;
	    padding-right: 7px;
	    padding-left: 7px;

	    &:hover {
		background-color: $redish;
	    }
	}
    }
}

button {
    background-color: #999999;
    border-radius: 5px;
    color: white;
    font-size: 80%;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 7px;
    padding-left: 7px;
    border: none;
    font-family: Helvetica,Verdana,Arial,Clean,sans-serif;

    &:hover {
	cursor: pointer;
	-moz-transition: all 0.3s ease 0s;
	background-color: $redish;
    }
}


.wiki-main {
    .comment {
	input {
	    margin-top: 20px;
	    margin-bottom: 20px;
	    width: 99%;
	}
    }

    textarea {
	//margin-top: 20px;
	min-height: 40em;
    }
}

blockquote {
    border-left: 4px solid #DDDDDD;
    color: #777777;
    padding: 0 15px;
}


.history-entries {
    margin-top: 20px;
    width: 100%;

    tr.wikiHistoryEntryView {
	td.checkbox {
	    width: 1em;
	}
	td.date {
	    text-align: center;
	    //width: 100%;
	    color: darken($light_grey, 20%);
	    font-size: 90%;
	    width: 10em;
	}

	td.user {
	    valign: middle;
	    vertical-align: middle;
	    img {
		vertical-align: bottom;
	    }
	    span {
		margin-left: 8px;
		vertical-align: middle;
	    }
	}

	td.comment {
	    a {
		color: black;
		&:hover {
		    color: $redish;
		}
	    }

	    .history-id {
		margin-right: 1em;
		color: darken($light_grey, 20%);
		font-size: 80%;
	    }
	}
    }
}






.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }






/* the overlayed element */
.overlay {
     display:none;
    z-index:10000;
    background-color: white;
 
    width:970px;
    min-height:200px;
    border: 1px solid lighten($light_grey, 20%);
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 3px 3px lighten($light_grey, 20%);
    -webkit-box-shadow: 0 0 3px lighten($light_grey, 20%);

    border-radius: 5px;


    /* some padding to layout nested elements nicely  */
    padding: 0;

    /* a little styling */
}


div.content-wrap {
    height: 600px;
    overflow-y:auto;
}


div#mask {
    background-color: white;
}


#cheatsheet {
    text-align: left;
    padding-left: 10px;

    .section-title {
	font-size: 85%;
	font-weight: bold;
	color: $redish;
    }

    pre {
	margin-top: 2px;
	margin-bottom: 6px;
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #DDDDDD;
	padding: 5px;
	white-space: pre-wrap;
    }

    h2 {
	color: $redish;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid lighten($light_grey, 20%);
    }

    .col {
	float: left;
	margin-right: 10px;
	width: 230px;
    }
}

.btn {
    float: left;
    display: inline;
    margin-right: 10px;
}

.magic-tarea-input input {
    margin-right: 10px;
}


.errors {
    font-size: 90%;
    color: $redish;
    background-color: $yellowish;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 20px;
    border: 1px solid #BFBF00;//$redish;
    border-radius: 5px;

    .status {
    }
}


.visible-events {
    div.row {
	margin-left: 0em;
    }
}


.options .setting-label {
    margin-right: 2em;
    font-weight: bold;
}


.extres-type {
    display: inline-block;
    width: 9em;
}

.extres-location {
    display: inline-block;
    width: 400px;
    input {
	width: 350px;
    }
}

.extres-new {
    margin-bottom: 10px;
}

.delete-project button {
}


.project-knobs button {
    margin: 15px;
}

.project-knobs h2 {
    color: $redish;
}

.project-knobs input {
    margin-right: 15px;
}

.section {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.section div {
    margin-bottom: 10px;
}


.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

.modal h2 {
    margin:0px;
    padding:10px 0 10px 10px;
    border-bottom:1px solid #333;
    font-size:20px;
}

.modal p {
    font-size: 110%;
}

.modal p.buttons {
    text-align: right;

    button {
	margin-right: 0;
    }
}


.eventView {
    a {
	color: $redish;

	&:hover {
	    color: black;
	}
    }
    .summary {
	
    }

    .timeline-task {
	//font-weight: bold;
	font-style: italic;
	color: $redish;
    }

    .meta {
	width: 15%;
	display: inline;
	float: left;

	.date-created {
	    float: left;
	    display: inline;
	    border: none;
	    box-shadow: none;
	    font-size: normal;
	    //font-weight: bold;
	    padding: 0;
	    text-align: left;
	    //width: 100%;
	    color: darken($light_grey, 20%);
	    font-size: 90%;
	}
    }

    .text {
	width: 85%;
	display: inline;
	float: right;
	font-family: 'Nunito',sans-serif;
	font-size: 90%;

	p {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
    }

    border-bottom: 1px dotted $light_grey;
    margin-top: 10px;
    padding-bottom: 10px;
}

.login,
.registration,
.openid-login  {
    fieldset {
	border: none;
    }

    float: left;
    display: block;
    //margin-right: 100px;

    h2 {
	color: $redish;
    }

    label {
	display: inline-block;
	width: 10em;
    }

    input {
	display: inline-block;
    }

    input[type=submit] {
	margin-top: 10px;
	float: right;
    }

    legend {
	font-weight: bold;
    }
}

.openid-registration {
    label {
	display: inline-block;
	width: 10em;
    }

    input {
	display: inline-block;
    }

    input[type=submit] {
	margin-top: 10px;
	float: right;
    }

    legend {
	font-weight: bold;
    }
}

.openid-registration {
    width: 500px;

    .info-text {
	color: $dark_grey;
	font-size: 90%;
    }
}

.intermediate {
    float: left;
    display: block;
    height: 300px;
    vertical-align:middle;
    valign: middle;
    margin: 20px;
    margin-right: 30px;

    position: relative;
    p {
	font-size: 90%;
	color: $light_grey;
	position: absolute;
	top: 25%;
    }
}

.openid-login {
    padding-top: 10px;
}

.login {
    padding-top: 10px;
    float: left;
    //background-color: lighten($light_grey, 32%);
    //height: 300px;
    //border-radius: 0px 0px 10px 0px;
}

.sign-in {
    border: 1px solid $light_grey;
    border-radius: 10px;
    & > legend {
	font-weight: bold;
	font-size: 120%;
	color: $redish;
    }
}

.login-logo {
    //border-radius: 10px 10px 0px 0px;
    padding: 2px;
    padding-left: 10px;
    //background-color: lighten($light_grey, 33%);
    h2 {
	font-weight: bold;
	color: $redish;
    }
}


.login {
    .no-account {
	color: $light_grey;
	font-size: 90%;
    }
}


.login {
    //width: 470px;
}














#drop-container {
    width:780px;
    margin:0 auto;
    position: relative;
}

#drop-content {
    width:520px;
    min-height:500px;
}
a img {
    border-width:0;
}
#topnav {
    padding:10px 0px 12px;
    line-height:23px;
    text-align:right;
}
#topnav a.signin {
    padding:4px 6px 6px;
}
#topnav a.signin:hover {
    *padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
    *background-position:0 3px!important;
}

a.signin {
    cursor: pointer;
    position:relative;
    margin-left:3px;
}

a.signin span.user-name {
    padding-right: 10px;
}

a.signin span.drop-icon {
    position: absolute;
    right: 2px;
    top: 40%;
    background: url("/img/arrow_down.png") no-repeat 0px 0px;
    width: 7px;
    height: 6px;
    //background-repeat:no-repeat;
    //background-position:100% 50%;
}
#topnav a.menu-open {
    background: white; //lighten($redish,50%)!important;
    outline:none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a.signin.menu-open span.drop-icon {
    background-position: 0px -6px;
}

.drop-nav {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border: 1px solid black;
    display:none;
    //background-color: white; //lighten($redish, 50%);
    background: none repeat scroll 0 0 #FFFFFF;

    position:absolute;

    //width:210px;
    z-index:10;
    text-align:left;
    padding:12px;
    padding-right: 40px;
    top: 30.5px;
    right: 0px;
    margin-top:8px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    visibility: visible;

    .rel {
	position: relative;
	.left {
	    float: left;
	    display: inline;
	}
	.right {
	    float: right;
	    display: inline;
	}
    }
}

.meta .user {
    .profile-pic {
	display: inline;
	float: left;
    }

    .profile-name {
	font-size: 90%;
	color: darken($light_grey, 20%);
	margin-left: 10px;
	display: inline;
	float: left;
    }
}