$light_grey: #999999;
$dark_grey:  #2E2633;
$redish:     #99173C;
$greyish:    #555555;
$orangeish:  #CC3300;
$blackish:   #151515;
$blueish:    #0055AA;
$dark_blue:  #002B55;

$link_color:  $blueish;
$link_hover_color:  $dark_blue;
$h2_color:  $dark_blue;

body {
    font-family: Helvetica,Verdana,Arial,Clean,sans-serif;
    font-size: 100%;
    text-align: center;
    line-height: 24px;
}

hr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 1px;
    margin: 0 0 0px;
    width: 100%;
}

div#header {
    border-bottom: 1px dotted #999999;
}

h1.logo {
    font: bold 2em helvetica,arial,verdana,sans-serif;
    color: $dark_grey;
    margin: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    letter-spacing: -1px;
    text-align: center;
    font-size: 2em;
    line-height: 1;
}

div#content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
    padding: 0px 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: left;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px dotted $light_grey;
    margin-left: auto;
    margin-right: auto;

    min-height: 1px;
    padding: 10px 20px 20px;
    position: relative;
    text-align: right;
    font-size: 75%;
}


#navbar {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 50px;
    margin: 0 0 0 -20px;
    overflow: hidden;
    padding: 0 20px;
    width: 100%;

    div {
        margin: 0;
        text-align: center;
    }
    ul {
        float: left;
	      margin: 0;
	      width: 100%;
	      padding-left: 0px;
	      li {
            float: left;
	          list-style: none outside none;
	          margin: 0 0;
        }
    }
    a {
	      color: black;
	      display: block;
	      font-size: 90%;
	      font-weight: bold;
	      height: 26px;
	      padding: 15px 15px 6px;
	      text-decoration: none;

        &.current, &:hover {
            color: #99173C;    
	      }
    }
}



div#bio {
    display: inline-block;
    width: 100%;
}

#bio img {
    float: left;
    margin-right: 10px;
}

#bio p {
    margin-top: 0px;
    font-size: 80%;
}

#bio p a {
    border-bottom: none;
    display: inline;
    padding: 0px;
}

#posts ul li {
    list-style: none outside none;
}

#social-nav {
	padding: 12px;
	float: right;
}

@mixin social-icon($icon) {
    background: url($icon) no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-top: 5px;
    width: 30px;
    float: right;
    font-weight: bold;
    text-align: right;
    z-index: 4;
}

#twitter-profile {
    @include social-icon("/icons/twitter.png");
}

#flickr-profile {
    @include social-icon("/icons/flickr.png");
}

#gplus-profile {
    @include social-icon("/icons/gplus.png");
}

#linkedin-profile {
    @include social-icon("/icons/linkedin.png");
}

#rss-feed {
    @include social-icon("/icons/rss.png");
}

div.post-body {
    font-family: 'Nunito',sans-serif;
}

div.spacer {
    margin-top: 20px;
}

p.post-info {
    font-size: 90%;
    margin: 0 0 0 5px;
    overflow: hidden;
    padding: 8px 5px;
}

p.post-info {
  padding-left: 0px;
  margin-left: 0px;
  
}

div.post-body {
    display: block;
    padding: 10px 10px 10px 5px;
}

#main h2 {
    margin-bottom: 0px;
}

span.post-date {
    background: none repeat scroll 0 0 #99173C;
    color: white;
    float: left;
    padding: 3px 7px;
}

span.post-categories {
    background: none repeat scroll 0 0 	#EBD1D8;
    color: white;
    float: left;
    margin-left: 2px;
    padding: 3px 5px 3px 5px;
}

.post-categories a {
    color: #99173C;
}

div#sidebar {
    padding-top: 10px;
    width: 100%;
    line-height: 21px;
}

#sidebar a {
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    padding: 4px 6px;
    text-decoration: none;
}

#tag-cloud a {
    display: inline;
    border-bottom: none;
    color: #99173C;
}

#tag-cloud a.set-1 {
    font-size: 70%;
}

#tag-cloud a.set-2 {
    font-size: 87%;
}

#tag-cloud a.set-3 {
    font-size: 102%;
}

#tag-cloud a.set-4 {
    font-size: 116%;
}

#tag-cloud a.set-5 {
    font-size: 140%;
}

#sidebar h3 {
    border-bottom: 1px solid #666666;
    margin-bottom: 5px;
}

#sidebar a.indented {
    color: #555555;
    font-size: 11px;
    padding-left: 15px;
}

#sidebar a:hover {
    color: #CC3300;
}

div#main {
	padding-right: 30px;
	padding-top: 10px;
}

table {
    border-collapse: collapse;
    margin: 0.5em 0 0.5em 0;
}

th, td {
    border: 1pt solid #ADB9CC;
    padding: 0.25em 0.5em;
}

th, td.theader {
    background-color: #F8F8F8;
    font-weight: bold;
    padding: 5pt;
    vertical-align: middle;
}

a:link, a:visited {
    -moz-transition: all 0.3s ease 0s;
}

a:hover {
    color: $link_hover_color;
}

a {
    color: $link_color;
    text-decoration: none;
}

h2 {
    color: $h2_color;
    margin-top: 10px;
    font-weight: 300;
    padding-top: 10px;
}

pre, code, .code {
    font-family: 'andale mono','bitstream vera sans mono','lucida console','courier new',monospace;
    font-size: 12px;
    line-height: 16px;
}

div.row {
    clear: left;
    padding-top: 5px;
    width: 100%;
}
div.row span.label {
    float: left;
    text-align: right;
    width: 40%;
}
div.row span.formw {
    float: right;
    text-align: left;
    width: 60%;
}
div.row span.labelfull {
    float: left;
    text-align: right;
    width: 20%;
}
div.row span.labelfullleft {
    float: left;
    text-align: left;
    width: 100px;
}
div.row span.formfull {
    float: right;
    text-align: left;
    width: 800px;
}
div.row span.left {
    float: left;
    width: 50%;
}
div.row span.right {
    float: right;
    width: 50%;
}
div.row div.leftfixed {
    float: left;
    text-align: left;
    width: 300px;
}
div.row div.rightfixed {
    float: right;
    text-align: left;
    width: 300px;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.clearfix {
    display: inline-block;
}

input {
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    border: 1px solid $light_grey;
    border-radius: 2px;

}

.editsection {
    float: right;
    font-weight: normal;
    margin-left: 5px;
    border-bottom: none;
}

a.boring {
    /*border: medium none;*/
    color: #000000;
    outline: medium none;
    text-decoration: none;
    border-bottom: medium none;
}

img.boring {
    border: medium none;
    outline: medium none;
}



/* .task .summary */ .tags {
  position: relative;
  display: inline;
}

/* .task .summary */ .tags .tag {
    padding-left: 5px;
    margin-left: 10px;
    //margin-right: 5px;
    //margin-top: 5px;
    //margin-bottom: 2px;
    font-size: 11px;
    font-family:	"lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: 400;
    border-radius: 5px;
    line-height: 1.3em;
    display: inline-block;
    vertical-align: middle;

    //float: left;
    //border: 1px solid darkgrey;
}

.task .body {
}

.hide {
  display: none;
}


.contracted {
  display: none;
}

.tag p {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
}

/*.tag*/ .rm-icon {
  float: right;
  height: 15px;
  width: 15px;
}

/*.tag*/ .rm-icon .rm-button {
    float: right;
    background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/yA/r/4WSewcWboV8.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    opacity: 0;
}

/*.tag*/ .rm-icon-2 {
  float: right;
  top: 50%;
  margin-top: -7px;
  height: 15px;
  width: 15px;
}

/*.tag*/ .rm-icon-2 .rm-button-2 {
    float: right;
    display: inline;
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -7px;
    background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/yA/r/4WSewcWboV8.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    opacity: 0;
}

#sidebar .rm-button {
  border: none;
  padding: 0px;
}

.tag:hover .rm-icon .rm-button {
    opacity: 1;
}

.dep:hover .rm-icon-2 .rm-button-2 {
    opacity: 1;
}

#tagdrag:hover .rm-icon-2 .rm-button-2 {
    opacity: 1;
}

.dep:hover {
  background-color: #FFFFD5;
}

.dep {
  padding-right: 4px;
  position: relative;
}

$task_summary_height: 28px;

.task .summary .imp {
  //width: 10px;
  //height: 1em;
  min-height: $task_summary_height;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

}

.task .summary .importance-medium {
  background-color: #0060BF;
}

.task .summary .importance-high {
  background-color: $orangeish;
  //background-color: $redish;
}

.task .summary .importance-low {
  background-color: #359AFF;
}

.task {
  //background-color: #FCFCFC;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  //padding-bottom: 2px;
  //padding-top: 2px;
  margin-top: -1px;
  min-height: $task_summary_height;
  border: 1px solid #AAAAAA;
}

.task .summary:hover {
  background-color: #FFFFD5;
}

.status-blocked .summary .summary {
  font-style: italic;
  color: $light_grey;
}

.task .body {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}

.task .body .info {
  font-size: 90%;
  padding-bottom: 16px;
}



.task a {
  font-style: italic; 
}


.task .body .info .deps {
  padding-left: 5px;
  float: left;
  width: 40%;
  display: block-inline;

  border: 2px solid $light_grey;
  border-radius: 5px;
}

.task .body .info .blocked {
  margin-left: 20px;
  padding-left: 5px;
  float: left;
  width: 30%;

  border: 2px solid $light_grey;
  border-radius: 5px;
}

.dep-top-line {
  margin-top: 3px;
  margin-right: 3px;
}

.fl {
  float: left;
  display: inline;
}

.icon-adddep {
  float: right;
  display: inline;
}

.adddep-button {
  width: 40px;
  height: 22px;
  text-decoration: none;
  float: left;
  display: block;
  background: url('/img/anchor_adddep.png') 0 -22px;
}

.dep .dep-sum {
  float: left;
  display: block-inline;
}

.adddep-button:hover {
  text-decoration: none;
  //background-position: 0 0;
}


.label {
  font-weight: bold;
}

/*
#sidebar {
  z-index: 500;
  position: fixed;
  bottom: 50%;
  right: 100px;
  width: 332px;
}
*/

#tagfilterlist .tags .tag {
  display: block;
}


.clearer{
  clear:both;
}

.tabmenu {
  //float: right;
}

.ico {
  display: block-inline;
  float: right;
}

.fb_dropdown {
  width:40px;
  height:22px;
  text-decoration:none;
  float:left;
  display:block;
  background: url('/img/anchor_sort.png') 0 -22px;
}

.btn_addtag {
  width: 40px;
  height: 22px;
  text-decoration: none;
  float: left;
  display: block;
  background: url('/img/anchor_addtag.png') 0 -22px;
}

.btn_addtag:hover {
  //background-position: 0 0;
}

.btn-selected {
  background-position: 0 0;
}


.fb_dropdown:hover {
  text-decoration: none;
  background-position: 0 0;
}

.fb_dropdown.jdropdown-active{
  background-position:0 0;
}

.fb_menu{
  background:#EEEEEE none repeat scroll 0 0; border:1px solid #656565; padding:3px 0;
}

.fb_menu ul {
  list-style:none;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
}

.fb_menu a {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  display:block;
  font-weight:normal;
  width:137px;
  text-align:left;
  overflow:hidden;
  padding:2px 4px 3px 19px;
  color:#111111;
  text-decoration:none;
}

.fb_menu a:hover {
  background:#656565; color:white; text-decoration:none;
}

.fb_menu a:visited {
  text-decoration:none;
}

#newtask {
  margin-bottom: 20px;
}

#newtasksummary {
  font-family: Helvetica,Verdana,Arial,Clean,sans-serif;
  font-size: 100%;
  width: 50%;
  color: $light_grey;
}

#newtasksummary:focus {
  color: #000000;
}

#newtasksummary:hover {
  background-color: #FFFFD5;
}


#tagdrag {
  width: 100%;
  border-top: 1px dotted $dark_grey;
  padding-bottom: 4px;
  background-color: #FFFFD5;
  position: fixed;
  bottom: 0;
}

#tagdrag .tags {
  width: 100%;
}

#tagdrag .tags .tag {
  cursor: move;
  padding-right: 5px;
}

#tagdrag .rm-icon-2 .rm-button-2 {
  right: 8px;
}

.placeholder-tag {
  border: 2px dashed $light_grey;
  padding-right: 5px;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.placeholder-tag-highlight {
  background-color: lighten($blueish, 50%);
}


.ui-menu {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 2px;
  background-color: white;
  text-align: left;
}

.ui-menu .ui-menu-item {
  clear: left;
  float: left;
  margin: 0;
  padding-left: 4px;
  width: 100%;
  background-color: white;
  
}

.ui-widget-content {
  border: 1px solid $light_grey;
}

.ui-autocomplete {
  cursor: default;
  position: absolute;
}

.ui-state-hover {
  background-color: #FFFFD5;
}

